<form class="property-form" *ngIf="propertyForm" [formGroup]="propertyForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field color="warn" class="full-width" appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Maior qualidade</mat-label>
      <input matInput formControlName="majorQuality">
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição completa</mat-label>
      <input matInput formControlName="fullDescription">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>

    <!-- <div class="full-width" appearance="fill">
      <mat-label>Foto</mat-label><br>
      <input type="file" formControlName="imgPath">
    </div> -->
  <br>
  <button class="submit-btn" mat-stroked-button color="accent" type="submit"> {{ requestType == "post"? "Adicionar" : "Atualizar" }} imóvel</button>
  </form>