#price {
    text-align: end;
}

.mat-expansion-panel {
    margin: 0 300px 20px;
}

button{
    background-color: transparent;
    border: unset;
}

#p-lastUpdate{
 font-size: smaller;
}

img{
    width: 600px;
    margin: 5px 50px;
}